.App {
  font-family: sans-serif;
  text-align: center;
}

.board {
  --grid-size: 4; /* Start with 4x4 */
  display: grid;
  width: 25rem;
  height: 25rem;
  grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
}

.square {
  border: 1px solid black;
  display: grid;
  place-items: center;
}

.my-button {
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

table ,td,tr{
  border: 1px solid black
}

.square2 {
  border: 1px solid gray;
  background-color: black;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.numerador {
  position: absolute;
  bottom: 14rem;
  left: 2rem;
}
.botones {
  position: absolute;
  bottom: 12rem;
}

.boton-negro , .boton-verde , .boton-azul {
  width: 2rem;
  height: 2rem;
  position: absolute;
}

.boton-negro{
  background-color: black;
  left: 4rem;
}
.boton-verde{
  background-color: green;
  left: 6rem;
}
.boton-azul{
  background-color: blue;
  left: 8rem;
}
